

<div *ngIf="!registerMode" class="container">
    <div class="text-center">
        <h2>Find your matches</h2>
        <p>Come on to find your matches... all you need to do is to sign up...</p>
        <div>
            <button (click)="toggleRegister()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg mr-2">Learn More</button>
        </div>
    </div>
</div> 

<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <app-register (cancelRegister)="cancelRegister($event)"></app-register>
        </div>
    </div>
</div>