<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/']">DA</a>
              <ul class="navbar-nav me-auto mb-2 mb-md-0" >
                <ng-container *ngIf="accountService.currentUser$ | async">
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/members']">Matches</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/lists']">Lists</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/messages']">Messages</a>
                  </li>
                </ng-container>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/errors']">Errors</a>
                </li>
              </ul>

              <div class="btn-group" dropdown *ngIf="(accountService.currentUser$ | async) as user">
                <a style="text-decoration: none; color: white !important;" id="button-basic" dropdownToggle type="button" class="dropdown-toggle"
                        aria-controls="dropdown-basic">Welcome {{ user.username | titlecase}} <span class="caret"></span>
                </a>
                <div id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                    <a class="dropdown-item">Edit Profile</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
              </div>
              
              <form *ngIf="(accountService.currentUser$ | async) == null" #loginForm="ngForm" (ngSubmit)="login()"  class="d-flex" autocomplete="off">
                <input 
                  name="username"
                  [(ngModel)]="model.username"
                  class="form-control me-2" 
                  type="text" 
                  placeholder="Username">
                <input 
                  name="password"
                  [(ngModel)]="model.password"
                  class="form-control me-2" 
                  type="password" 
                  placeholder="Password">
                <button class="btn btn-success" type="submit">Login</button>
              </form>
            </div>
          </div>
    
  </nav>


  